/* Main app container */
.App {
  text-align: center;
  position: relative;
}

/* Game container with border and layout styling */
.game-container {
  border: 6px solid transparent;
  border-image: linear-gradient(to bottom, #3232be, #a3ff12) 1 stretch;
  border-image-slice: 1;
  border-radius: 15px;
  background-color: #151625;
  font-weight: bold;
 /* width: 90%; */
  max-width: 1200px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  box-sizing: border-box;
  position: relative;
}

/* Game selection button container */
.game-selection {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 20px;
}

/* Styling for each game selection button */
.game-selection span {
  cursor: pointer;
  color: rgb(71, 118, 206);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
  padding: 5px 10px;
  /* border-radius: 5px; */
}

/* Active and hover state for game selection buttons */
.game-selection span:hover,
.game-selection span.active {
  color: white;
  background-color: #6d4afe;
}

/* Points display styling */
.points-display {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  background-color: #6d4afe;
  padding: 5px 10px;
  /* border-radius: 5px; */
}

/* Media query for smaller screens to avoid overlay and position points display below buttons */
@media (max-width: 768px) {
  .game-container {
    align-items: center;
  }

  .game-selection {
    justify-content: center;
    flex-direction: column;
  }

  .points-display {
    position: static;
    margin: 10px auto;
    font-size: 1em;
    text-align: center;
    order: 1; 
  }

  .game-selection {
    order: 0; 
  }
}
