/* Container for centering the game content */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

/* Box that holds the game board */
.game-box {
  padding: 10px;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;



}

/* Grid container for the game tiles */
.game-board {
  display: grid;
  width: auto;
  gap: 2px;
  height: auto;
  aspect-ratio: 1;
  position: relative;
  border: 4px solid #000;
  background-color: #f0f0f0;

  
}

/* Styling for each tile in the game */
.tile {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Styling for the selected tile */
.tile.selected {
  border: 2px solid rgb(233, 13, 13);
}

/* Full image preview styling */
.full-image {
  width: auto;
  height: 100%;
 
  z-index: 1;
}

/* Styling for the controls below the game board */
.controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Button styling */
#grid-size-selector,
#shuffleButton,
#showImageButton {
  margin: 10px;
  color: white;
  background-color: rgb(71, 118, 206);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Additional styling for the grid size selector */
#grid-size-selector {
  color: white;
}

#grid-size-selector option {
  color: white;
}

/* Label styling */
label {
  color: black;
  margin-right: 10px;
}

/* Heading styling */
h1 {
  color: rgb(0, 0, 0);
}

/* Popup overlay styling */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup content styling */
.popup {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
}

/* Popup button styling */
.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(71, 118, 206);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 600px) {
  .game-box {
    width: 120%;
    height: auto;
    padding: 10px;
    margin: 10px;
   
  }

  .game-board {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  .tile {
    width: calc((100% / var(--grid-size)) - 5px) !important;
    height: calc((100% / var(--grid-size)) - 5px) !important;
  }

  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  #grid-size-selector,
  #shuffleButton,
  #showImageButton {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
  }

  label {
    margin-bottom: 5px;
  }

  .full-image {
    width: auto;
    height: 100%;
   
    z-index: 1;
  }
}
